* {
   font-family: Century;
}

body {
     margin: 0;
   padding: 0; 
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 95%;
    margin: 0 auto;
}

.blok img {
    width: 500px;
}

.title {
   font-family: sans-serif;
}


.header, .footer {
    font-style: italic;
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 2px;
}

.footer a {
    color: white;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main .blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 470px;
}

.main .blok img {
    margin: 10px;
    padding: 3px;
    border: 2px slateBlue dashed;
}

.main .blok .btn {
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

.main .blok .btn a {
    color: white;
    text-decoration: none;
}

.suwak {
    width: 80%;
}